main {
    background-image: url(edificio.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    padding: 2%;
}

.integrantes {
    background-color:rgba(0, 0, 0, 0.329);
    padding: 1%;
    border-radius: 8px;
}

.integrantes h1 {
    color: white;
    font-size: 30px;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    padding: 10px;
    gap: 20px;
    margin-bottom: 1%;
}

.tarjeta {
    background-color: #252525;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.tarjeta h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 3%;
}

.tarjeta button {
    display: block;
    background-color: #161616;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.circulo {
    width: 150px; /* Ancho */
    height: 150px; /* Alto igual al ancho */
    background-color: #161616; /* Color del círculo */
    border-radius: 50%; /* Clave: hace el círculo */
    
}

.circulo img {
    display: block;
    border-radius: 50%; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5%;
}