* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #173275;
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links li {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

footer {
    background-color: rgb(27, 27, 27);
    padding-top: 12px;
}

.terminos {
    background-color: rgb(37, 37, 37);
}

.terminos p {
    color: white;
    text-align: center;
    font-size: 15px;
}

